  body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 8fr 1fr; 
    min-height: 500px;
    width: 100%;
    margin: 0;
    padding:0;
    grid-row-gap: 2vw;
  }
  
  .cover {
    width: 100%;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
    background: url('image/Cover.svg') no-repeat;
    background-size: cover;
    height: calc(0.457 * 100vw);
    border-bottom: 1px solid red;
  }

  .content {
    margin-left: 5%;
    width: 90%;
    display: grid;
    grid-area: 2/ 2/ 3/ 3;
    grid-gap: 0.1vw;
    grid-template-columns: 1.25fr 1fr 1.5fr 1.25fr;
    grid-template-rows: auto auto auto auto;
  }

  .teptin {
    grid-area: 1/ 2/ 2/ 3;
    height: 13vw;
    background: url("image/TapTin.svg") no-repeat -13.8vw -6vw;
    background-size: 41vw auto;
  }

  .hinhanh {
    grid-area: 1/ 3/ 2/ 4;
    background: url("image/HinhAnh.svg") no-repeat -8.7vw -5vw;
    background-size: 41vw auto;
  }

  .anh {
    margin-top:1vw;
    grid-area: 2/ 1/ 3/ 5;
    display: none;
    grid-template-columns: 1.62fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    grid-gap: 1vw;
  }

  .anhnhom {
    grid-area: 1/ 1/ 2/ 2;
    background: url('image/AnhNhom.png') no-repeat;
    background-size: 26.4vw auto;
    height: 26.5vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .poster {
    grid-area: 1/ 2/ 2/ 3;
    background: url('image/Poster.png') no-repeat ;
    background-size: auto 27.85vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .anhnhom h3,
  .poster h3{
    background: linear-gradient(to right, rgb(241, 206, 206), #ff7cac);
    border-radius: 1vw;
    color: white; 
    padding: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .mindmap {
    grid-area: 2/ 1/ 3/ 3;
    background: url('image/Mindmap.jpg') no-repeat;
    height: 30vw;
    background-size: auto 30vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .video {
    border-top:solid 2px rgba(255, 156, 247, 0.3);
    margin-top:1vw;
    grid-area: 4/ 1/ 5/ 5;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .fa-heart-o {
    color: red;
    cursor: pointer;
  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
  }  

  #heart {
    position: absolute;
    font-size: 3vw;
    padding-left: 1vw;
    padding-top: 1vw;
  }

  .thongtinchung {
    grid-area: 3/ 2/ 4/ 4;
    background: url("image/ThongTinChung.svg") no-repeat -21.5vw -11vw;
    background-size: 77vw auto;
    height: 27vw;
    padding-top: 7vw;
    padding-left: 3vw;
    padding-right: 14vw;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 0.86vw;
    text-align: justify;
  }

  .thongtinchung b {
    color:rgb(247, 73, 180);
  }

  p {
    font-size: 18px;
  }

  .resource {
    grid-area: 4/ 1/ 5/ 4;
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
  }

  .resource div {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #rs h3 {
    margin-top: 1.2vw;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
  }

  button:focus {
    outline: none !important;
  }

  .sliderBox {
    width: 100%;
    grid-area: 3 / 2 / 4 / 3; 
    display: block;
    height: 40em;
  }

  .modal-body h5{
    margin-top: 1.3vw;
  }
   
  #mySlider {
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 40em;
    padding: 0px;
    margin: 0px;
    z-index: 0;
    margin-left: 10%;
  }
   
  .singleSlide {
    background-size: cover;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0px;
    text-align: center;
  }

  .singleSlide p{
    font-family: "Segoe UI",Arial,sans-serif;
    width: 70%;
  }
   
  .slideOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
  }
   
  #sliderNav {
    position: relative;
    top: 80px;
    z-index: 1;
    margin-left: 10%;
    width: 80%;
  }
   
  #sliderNav:hover {
    cursor: pointer;
  }
   
  #sliderPrev {
    position: relative;
    float: left;
    left: 5vw;
  }
   
  #sliderNext {
    position: relative;
    float: right;
    right: 5vw;
  }
   
  #sliderNext img,
  #sliderPrev img {
    width: 2vw;
  }
   
  @-webkit-keyframes slideIn {
    100% {
      left: 0;
    }
  }
   
  @keyframes slideIn {
    100% {
      left: 0;
    }
  }
   
  .slideInRight {
    left: -100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
  }
   
  .slideInLeft {
    left: 100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
  }
   
  @-webkit-keyframes slideOutLeft {
    100% {
      left: -100%;
    }
  }
   
  @keyframes slideOutLeft {
    100% {
      left: -100%;
    }
  }
   
  .slideOutLeft {
    -webkit-animation: slideOutLeft 1s forwards;
    animation: slideOutLeft 1s forwards;
  }
   
  @-webkit-keyframes slideOutRight {
    100% {
      left: 100%;
    }
  }
   
  @keyframes slideOutRight {
    100% {
      left: 100%;
    }
  }
   
  .slideOutRight {
    -webkit-animation: slideOutRight 1s forwards;
    animation: slideOutRight 1s forwards;
  }
  
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e80202 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ec9a9ad0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  @media only screen and (max-width:1000px){
    p {
      font-size: 14px;
    }

    .content {
      grid-area: 2/ 1/ 3/ 4;
    }

    .teptin {
      grid-area: 1/ 1/ 2/ 3;
      height: 32vw;
      background-size: 94vw;
      background-position: -31vw -13vw;
    }

    .hinhanh {
      grid-area: 1/ 3/ 2/ 5;
      background-size: 94vw;
      background-position: -20vw -11vw;
    }

    .thongtinchung {
      grid-area: 3/ 1/ 4/ 5;
      height: 68vw;
      background-size: 194vw auto;
      background-position: -54vw -28vw;
      font-size: 2.3vw;
      padding-top: 18vw;
      padding-right: 35vw;
      padding-left: 7vw;
    }

    .singleSlide p{
      width: 95%;
    }

    #mySlider{
      width: 100%;
      margin-left: 0;
      height: 48em;
    }

    .singleSlide h3{
      font-size: 5.8vw;
    }

    .sliderBox {
      height: 50em;
    }

    .resource div {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .anh {
      padding: 0;
    }

    .anhnhom {
      background: url('image/AnhNhom.png') no-repeat;
      background-size: 52.8vw auto;
      height: 58vw;
    }

    .poster {
      background: url('image/Poster.png') no-repeat ;
      background-size: auto 55.16vw;
    }

    .mindmap {
      background: url('image/Mindmap.jpg') no-repeat;
      height: 70vw;
      background-size: auto 60vw;
    }

    .video {
      padding: 0;
    }

    #sliderPrev {
      left: -3vw;
    }
     
    #sliderNext {
      right: -3vw;
    }

    #heart {
      position: static;
      font-size: 25vw;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #rs h3 {
      margin-top: 8vw;
    }
  }
